@tailwind base;
@tailwind components;
@tailwind utilities;


/* Color variable declarer  */
@layer base {
  :root {
    --color-primary-base: #0e7673;
    --color-primary-muted: #dbeaea;
    --color-secondary-base: #e8292f;
    --color-info-base: #106bda;
    --color-info-muted: #b5d1f4;
    --color-warning-base: #ffc107;
    --color-danger-base: #ce3426;
    --color-success-base: #157f40;
    --color-neutral-base: #444444;
    --color-neutral-muted: #767676;
    --color-black-base: #292929;
    --color-black-muted: #767676;
  }
}

.container {
  max-width: 1440px;
  margin: 20px auto;
  padding: 0 12px;
}
